* {
  margin: 0;
  padding: 0;
}
nav {
  background: white;
  width: fit-content;
  margin-bottom: 50px;
}

body {
  font-family: sans-serif;
  width: 100%;
}

.news {
  padding: 20px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.card {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 8);
  max-width: 100%;
  padding: 10px;
  border: 1px dashed gray;
}

input {
  width: 100%;
  height: 50px;
  border-color: lightgray;
  border-radius: 8px;
}

